.error-icon {
    width: 100px;
    height: 100px;
}

.error-container {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    margin-top: 200px;
}
.error-type{
    color: rgb(209 4 4);
    font-size: 32px;
    font-weight: 600;
    margin: 5px 0 0;
}
.error-msg{
    margin-top: 10px;
}
.error-btn {
    margin-top: 10px;
    padding: 8px 25px;
    border: 1px solid #c7c0c0;
    font-size: 16px;
    background: white;
    border-radius: 4px;

}
.error-btn a{
    text-decoration: none;
    color: black;
    
}
.error-btn:hover {
    padding: 8px 25px;
    /* border: 1px solid rgb(218, 216, 216); */
    border: 1px solid blue;
    background-color: rgb(202 224 243 / 86%);
    border-radius: 5px;
    outline: 0;
}