.chef-heading {
    margin: 60px 120px 20px;
    font-size: 28px;
    font-weight: 600;

}

.chef-list {
    margin: 0 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

}


/* join-us */
.join-us{
    /* background-image: url('/images/bg2.jpg');
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
    object-fit: fill;
    background-repeat: no-repeat; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: 50px 0 0;
    padding: 60px 120px 0;
}

.join-us-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.join-us-content p{
    margin-bottom: 20px;
}
.join-field{
 width: 100%;
}

.join-field-img{
    width: 100%;
}
.join-title{
 color: orange;
}
.join-info{
 font-size: 45px;
 font-weight: 600;
}
.join-btn{
    width: 130px;
    color: white;
    background-color: #ed0808;
    border: 0;
    border-radius: 4px;
    outline: 0;
    padding: 16px 0;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
}

.join-btn:hover{
    background-color: #cf0404;
}
/* end join */



/* ................... */
.contact {
    padding: 60px 120px ;
    background-color: #e3e4e55c;
    margin: 50px 0 0px;

}

.contact-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin:0 0 40px;
}

.send-us {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}

.name-field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.send-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.name-field-control {
    width: 100%;
    padding: 12px 12px;
    border: 1px solid rgb(210 221 237);;
    border-radius: 4px;
    outline: none;
    margin-bottom: 20px;
}
.name-field-control:hover{
    border: 1px solid rgb(90, 101, 250);
}
.name-field-control:focus{
    border: 1px solid rgb(78, 89, 248);
}

.message-img {
    width: 100%;
}

.message-img img {
    width: 100%;
    border-radius: 6px;
}

.send-btn {
    border: 0;
    outline: 0;
    border-radius: 4px;
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: rgb(250, 151, 2);
}

.send-btn:hover {
    background-color: rgb(255, 123, 0);
}



@media screen and (max-width:992px) {
    .chef-heading {
        margin: 60px 100px 20px;
    }

    .chef-list {
        margin: 0 100px;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact {
        padding: 60px 100px;
        margin: 50px 0;
    }
    .join-us{
        background-image: url('/images/bg2.jpg');
        background-size: 100% 100%;
        width: 100%;
        height: 400px;
        object-fit: fill;
        background-repeat: no-repeat; 
        grid-template-columns: 1fr;
        margin: 50px 0 0;
        padding: 60px 120px 0;
    }
    .join-field{
        display: none;
    }
    .join-info {
        font-size: 35px;
        font-weight: 600;
    }
}

@media screen and (max-width:778px) {
    .chef-heading {
        margin: 60px 50px 20px;
        font-size: 22px;
    }

    .chef-list {
        margin: 0 50px;
        grid-template-columns: repeat(2, 1fr);
    }
    .contact {
        padding: 60px 50px;
        margin: 50px 0;
    }
    .join-us{
        padding: 60px 60px 0;
    }
    .send-us{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:600px) {
    .chef-heading {
        margin: 60px 30px 20px;
        font-size: 20px;
    }

    .chef-list {
        margin: 0 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .contact {
        padding: 60px 30px;
        margin: 0;
    }
    .send-us {
        display: grid;
        grid-template-columns:1fr;
        gap: 30px;
    
    }
    .join-us{
        padding: 60px 30px 0;
    }
    .join-info {
        font-size: 25px;
        font-weight: 600;
    }
    
}