.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
}

.nav-title {
    display: flex;
    align-items: center;
    width: 100%;
}

.nav-title h2 {
    font-size: 28px;
    font-weight: 600;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    list-style: none;
    margin-left: 30px;
}

.nav ul a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.nav ul a:hover {
    color: blue;
}

.hide {
    display: none;
}
.user-icon{
    display: flex;
    align-items: center;
}
.toggle-icon{
    display: none;
}

.menu-list{
    display: block;
}
.title-nav{
    display: flex;
    align-items: center;
}

.user-img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

  .dropdown{
    position: relative;
  }
  .dropdown-img{
    cursor: pointer;
  }
 
  .dropdown-child-hide{
    display: none;
  }

.dropdown-child{
    background-color: white;
    min-width: 200px;
    position: absolute;
    top: 50px;
    z-index: 2;
    right: 0;
    border-radius: 5px;
    padding: 5px 10px;
    /* border: 1px solid gray; */
    box-shadow: 0px 1px 4px 1px #ef7676;
    border: 0;
    outline: 0;
}
.dropdown-child a{
    padding: 10px;
    color: black;
    display: block;
    font-size: 14px !important;
    text-decoration: none;
}
.logout-btn{
    padding: 8px 0;
    width: 100%;
    border: 0;
    background-color: black;
    color: white;
    font-size: 15px;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
}
.line1{
    margin: 0 10px !important;
}

.dropdown:hover .dropdown-child{
    display: block;
}


@media screen and (max-width: 992px) {
    .nav {
        flex-direction: column;
        align-items: start;
        padding: 25px 70px;
    }

    .nav-title {
        justify-content: space-between;
    }

    .nav ul {
        flex-direction: column;
        align-items: start;
    }

    .nav ul li {
        margin: 0;
        padding: 10px 0;
    }
    .hide{
        display: block;
    }
    .user-icon{
        display: none;
    }
    .menu-list{
        display: none;
    }
    .menu-list-none{
        display: block;
    }
    .toggle-icon{
        display: flex;
    }
    
}

@media screen and (max-width: 778px) {
    .nav {
        padding: 25px 50px;
    }

}

@media screen and (max-width: 600px) {
    .nav {
        padding: 20px 25px;
    }

    .nav ul li a {
        font-size: 16px;
    }

    .nav-title h2 {
        font-size: 24px;

    }
}